BODY {
  font-family: Verdana, sans-serif;
  font-size: 13px;
  color: #000;
  background-color: #fff;
}

H1 {
  font-size: 400%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

a:link {
  color: #36f;  /* matches the color of the human graphics */
}

a:hover {
  color: #f00;
}


/* the "subscribe" link */
#feedlink {
  text-align: center;
  margin-top: 0;
}


/* "episode" is the single wrapper for each comic and its attendant elements */
.episode {
  clear: both;
  margin-left: 5%;
  margin-top: 3.5em;
  position: relative;
}


/* prev/next links */
.prevnext {
  font-size: 150%;
  position: absolute;
  top: 1em;
  left: -1.5em;
}

.prevnext a {
  text-decoration: none;
  color: #36f;
}


/* The title and date field that precede the comic panels */
.title {
  font-weight: bold;
  float: left;
}

.date {
  float: right;
  margin-right: 14px;  /* so the right side of this div lines up with the right edge of the last panel */
}


/* individual panels */
.panel {
  display: inline-block;
  margin: 5px 10px 0 0;
  border: 1px solid #222;
  width: 250px;
  min-height: 300px;
  position: relative;  /* so panels will be "positioned ancestors" of the images inside them */
}

.p-left, .p-right {
  margin: 0;
  border: 0;
  padding: 0;
  width: 50%;

  position: absolute;
  bottom: 0;
}

.p-left {
  left: 0;
}

.p-right {
  right: 0;
  text-align: right;
}


/* "extra classes" for panels */
.dashed {
  border-style: dashed;
}

.taller {
  /* for comics with lots of dialogue -- this should probably be applied to every panel in a strip, not just one */
  height: 350px;
}


/* character images */
.panel IMG {
  margin: 10px;
}

/* dialogue */
.dialogue {
  display: inline-block;  /* 'block' would make them always take the full width available */
  margin: 0px 10px;
  padding: 4px;
  border: 1px solid #999;
  border-radius: 0.4em;
}


/* dialogue tags */
.dtag-human, .dtag-robot, .dtag-human-thought, .dtag-robot-thought {
  margin: 0 15px;
}


/* JSON */
.show_json {
  text-align: right;
  font-size: smaller;
  margin-right: 14px;  /* so the right side of this div lines up with the right edge of the last panel */
}

.show_json A {
  text-decoration: none;
}

.json {
  font-family: monospace;
  white-space: pre-wrap;  /* so it looks like code */
  border: 1px solid #999;
  padding: 0.5em;
  display: none;  /* hide it by default; the toggle link will show it */
  margin-right: 14px;  /* so the right side of this div lines up with the right edge of the last panel */
}


/* "News post" */
.news {
  font-style: italic;
  color: #666;
  margin-top: 5px;
}


/* placeholder -- just an empty div that marks the place where the comics end */
#place {
  clear: both;
  display: none;
}


/* all that text at the end */
#blathering {
  margin: 3.5em 10% 0 5%;
  border-top: 3px double #222;
}